<div class="row">
  <% @loesungen.children.each do |loesungen_child| %>
    <div class="col-md-6 col-sm-6">
      <div class="portlet box green-haze tasks-widget">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-check"></i><%= loesungen_child.title %>
          </div>
          <div class="tools">
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
            </a>
            <a href="" class="reload" data-original-title="" title="">
            </a>
            <a href="javascript:;" class="fullscreen" data-original-title="" title="">
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="task-content">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;"><div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
              <!-- START TASK LIST -->
              <ul class="task-list">
                <% loesungen_child.children.each do |child| %>
                  <%= render 'backends/loesungen/losungen_child_child', child: child %>                
                <% end %>
              </ul>
              <!-- END START TASK LIST -->
            </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 252.785326086957px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>
          </div>
          <div class="task-footer">
            <div class="btn-arrow-link pull-right">
            <%= link_to "New Page", new_page_path(parent_id: loesungen_child.id) %>
              <i class="icon-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>