<div class="row">
  <% @services.children.each do |services_child| %>
    <div class="col-md-6 col-sm-6">
      <div class="portlet box green-haze tasks-widget">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-check"></i><%= services_child.title %>
          </div>
          <div class="tools">
            <a href="javascript:;" class="fullscreen" data-original-title="" title="">
            </a>
          </div>
        </div>
        <div class="portlet-body">
        
          <div class="task-content">
            <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="1">
              <ul class="task-list">
                <% services_child.children.each do |child| %>
                  <%= render 'backends/pages/pages_child_child', child: child %>                
                <% end %>
              </ul>
            </div>
          </div>

          <div class="task-footer">
            <div class="btn-arrow-link pull-right">
              <%= link_to "New Page", new_page_path(parent_id: services_child.id) %>
              <i class="icon-arrow-right"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <%= link_to "New Page for Services", new_page_path(parent_id: @services.id), class: "btn btn-success" %>
</div>
