    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Anfrage</li>
        </ul>
        <div class="row margin-bottom-40">
          <div class="col-md-12">
            <div class="row">
              <!--                 
              <div class="col-md-12">
                <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
              </div> -->
              <div class="col-md-9 col-sm-9">
                <h2>Anfrage Formular</h2>
                <p>Jederzeit für Sie zu erreichen...hier haben wir für Sie den direkten Draht zu uns geschaltet.</p>
                <%= render 'static_pages/contact_us/form' %>
              </div>
              <%= render 'static_pages/contact_us/sidebar' %>
            </div>
          </div>
        </div>
      </div>
    </div>
