<h1>Editing blog</h1>

<%= render 'form' %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', admin_blogs_path %>
<%= link_to 'Delete Page- be carefull', @blog, method: :delete,class: "btn btn-link pull-right", data: { confirm: 'Are you sure?' } %>
