<div id="edit_element">
  <%= render 'slider_preview' %>
  <div class="edit_element_form">
  <%= render 'form' %>

  <%= link_to 'Show', [@slideshow, @element] %> |
  <%= link_to 'Back', slideshow_elements_path %>
  </div>

</div>