<li>
  <div class="task-title">
    <% if child.depth>0 %>
      <% for i in (4..child.depth) do  %>
        --
      <% end %>
    <% end %>
    <span class="task-title-sp">
      <%= link_to child.title, child %>
    </span>
  </div>
  <%= render 'backends/pages/tasks',child: child %>
</li>

<% child.children.each do |ch| %>
  <%= render 'backends/pages/pages_child_child', child: ch %>                
<% end %>
