<div class="task-config">
  <div class="task-config-btn btn-group">
    <a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
      <li>
        <%= link_to new_page_path(parent_id: child.id) do %>
          <i class="fa fa-indent"></i> Create Sub-Page 
        <% end %>
      </li>
      <li>
        <%= link_to edit_page_path(child) do %>
          <i class="fa fa-pencil"></i> Edit 
        <% end %>
      </li>
      <li>
        <%= link_to child, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i> Delete
        <% end %>
      </li>
    </ul>
  </div>
</div>