<!-- BEGIN BLOCKQUOTE BLOCK -->   
<div class="row quote-v1 margin-bottom-30">
  <div class="col-md-9">
    <span>OPC - die smarte Lösungen</span>
  </div>
  <div class="col-md-3 text-right">
    <a class="btn-transparent" href=""><i class="fa fa-rocket margin-right-10"></i>Über OPC</a>
  </div>
</div>
<!-- END BLOCKQUOTE BLOCK -->