<div class="row service-box margin-bottom-40">
  <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-hand-o-right fa-lg blue"></i></em>
      <span>Wer Sind Wir?</span>
    </div>
    <p>Wir helfen Ihnen gerne bei technischen Fragen rund um unsere Produkte. Uns liegt viel an Ihrem Erfolg, deshalb bieten wir Ihnen technische Unterstützung bei der Integration Ihrer Lösung an.</p>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-compress  red"></i></em>
      <span>Was Machen Wir?</span>
    </div>
    <p>Mittels Fernwartungssoftware bietet sich die Möglichkeit, dass sich unsere Supportmitarbeiter direkt auf Ihren Server oder Ihre Systeme (z. B. Kassenplatz, Point-Of- Sale) aufschalten können.</p>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="service-box-heading">
      <em><i class="fa fa-check green"></i></em>
      <span>Warum Sie Wahlen Wir?</span>
    </div>
    <p>Das Problem lässt sich nicht an der Hotline oder über unseren Remoteservice lösen? Dann nutzen Sie unseren vor Ort Service. Qualifizierte Supportmitarbeiter unterstützen Sie deutschlandweit und wir garantieren für eine schnelle Problemlösung.</p>
  </div>
</div>