<div class="row service-box margin-bottom-40">
  <div class="col-md-4 col-sm-4">
    <% title = "home-page-qoute<br>who" %>
    <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>
  </div>
  <div class="col-md-4 col-sm-4">
    <% title = "home-page-qoute<br>what" %>
    <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>
  </div>
  <div class="col-md-4 col-sm-4">
    <% title = "home-page-qoute<br>why" %>
    <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>
  </div>
</div>