  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler">
          </div>
          <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start active open">
          <a href="javascript:;">
          <i class="fa fa-home"></i>
          <span class="title">Dashboard</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
          </a>
          <ul class="sub-menu">
            <li class="active">
              <a href="index.html">
              <i class="icon-bar-chart"></i>
              Site name & Logo </a>
            </li>
            <li>
              <a href="index_2.html">
              <i class="icon-bulb"></i>
              Slide Shows</a>
            </li>
            <li>
              <a href="index_3.html">
              <i class="icon-graph"></i>
              Qoute</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript:;">
          <i class="fa fa-archive"></i>
          <span class="title">Pages</span>
          <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="quick_sidebar_push_content.html">
              Loesungen</a>
            </li>
            <li>
              <a href="quick_sidebar_over_content.html">
              Kartentechnologien</a>
            </li>
            <li>
              <a href="quick_sidebar_over_content_transparent.html">
              Services</a>
            </li>
            <li>
              <a href="quick_sidebar_on_boxed_layout.html">
              Kontakt</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript:;">
          <i class="fa fa-newspaper-o"></i>
          <span class="title">News</span>
          <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="email_newsletter.html">
              Add News</a>
            </li>
            <li>
              <a href="email_system.html">
              Manage News</a>
            </li>
          </ul>
        </li>
        
        <li>
          <a href="javascript:;">
          <i class="fa fa-envelope-o"></i>
          <span class="title">Emails</span>
          <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="email_newsletter.html">
              See email</a>
            </li>
            <li>
              <a href="email_system.html">
              Manage emails</a>
            </li>
          </ul>
        </li>
        <li class="last ">
          <a href="javascript:;">
          <i class="fa fa-users"></i>
          <span class="title">Kunden</span>
          <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="maps_google.html">
              Add kunde</a>
            </li>
            <li>
              <a href="maps_vector.html">
              Manage Kunden</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>