<div id="pre_header" class="backend_link_bar pre-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5  additional-shop-info">
        <%= link_to "Admin Page", admin_path %>
      </div>
    </div>
  </div>        
</div>
