<li id="kartentechnologien" class="dropdown dropdown100 nav-catalogue">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    Kartentechnologien
    
  </a>
  <ul class="dropdown-menu">
    <li>
      <div class="header-navigation-content">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <a href="shop-item.html"> <%= image_tag "navbar/kartetechnologien/Chipkartenautomat.jpg", class: "img-responsive" %></a>
              </div>
              <h3><a href="shop-item.html">OPC® 5077-305 Chipkartenautomat</a></h3>
              <div class="pi-price">1129.00€ </div>
              <a href="#" class="btn btn-default add2cart">Kaufen</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <a href="shop-item.html"><%= image_tag "navbar/kartetechnologien/Kartenautomat-dispenser.jpg", class: "img-responsive" %></a>
              </div>
              <h3><a href="shop-item.html">Kartenautomat/-dispenser</a></h3>
              <div class="pi-price">293.00€</div>
              <a href="#" class="btn btn-default add2cart">Kaufen</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <a href="shop-item.html"><%= image_tag "navbar/kartetechnologien/Chipkartenaufwerter.jpg", class: "img-responsive" %></a>
              </div>
              <h3><a href="shop-item.html">5073C Chipkartenaufwerter-EC</a></h3>
              <div class="pi-price">229.00€</div>
              <a href="#" class="btn btn-default add2cart">Kaufen</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <a href="shop-item.html"><%= image_tag "navbar/kartetechnologien/Chipkartenaufwerter_bar.jpg", class: "img-responsive" %></a>
              </div>
              <h3><a href="shop-item.html">5073BS Chipkartenaufwerter-BAR</a></h3>
              <div class="pi-price">2229.00€</div>
              <a href="#" class="btn btn-default add2cart">Kaufen</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>