<li class="menu-search">
  <span class="sep"></span>
  <i class="fa fa-search search-btn"></i>
  <div class="search-box">
    <form action="/static_pages/google_search" method="put">
      <div class="input-group">
        <input name="q" type="text" placeholder="Search" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
    </form>
  </div> 
</li>
