<li class="dropdown"> 
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="<%= page_path Page.find_by(title: "Services") %>" href="<%= page_path Page.find_by(title: "Services") %>">
    Service
  </a>

  <ul class="dropdown-menu">
    <% Page.services.children.each do |child| %>
      <%= render 'layouts/public/header/navbar/services/child', child: child %>
    <% end %>
  </ul>
</li>