<li class="dropdown"> 
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
    Service
  </a>

  <ul class="dropdown-menu">
    <% Page.services.children.each do |child| %>
      <%= render 'layouts/public/header/navbar/services/child', child: child %>
    <% end %>
  </ul>
</li>