<li class="dropdown"> 
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="<%= page_path(Page.uber_uns) %>" href="<%= page_path(Page.uber_uns) %>">
    Service
  </a>

  <ul class="dropdown-menu">
    <% Page.services.children.order(:order).each do |child| %>
      <%= render 'layouts/public/header/navbar/services/child', child: child %>
    <% end %>
  </ul>
</li>