<li class="last ">
  <a href="javascript:;">
  <i class="fa fa-newspaper-o"></i>
  <span class="title">News</span>
  <span class="arrow "></span>
  </a>
  <ul class="sub-menu">
    <li>
      <a href="#">
      Add News</a>
    </li>
    <li>
      <a href="#">
      Manage News</a>
    </li>
  </ul>
</li>
