<li class="list-group-item clearfix <%= "active" if @page.ancestors.include?(child) %>">
  <%= link_to  child do %>
    <i class="fa fa-angle-right"></i>
    <%= "#{child.title}-#{child.id}" %>
  <% end %>
</li>

<% if @page.ancestors.include?(child) %>
  <ul>
    <% child.children.each do |child_2| %>
      <%= render 'print_children', child: child_2 %>
    <% end %>
  </ul>
<% end %>
