<li class="list-group-item clearfix <%= "active" if @page.self_and_ancestors.include?(child) %>">
  <%= link_to  page_path("#{child.id}-#{child.title}") do %>
    <i class="fa fa-angle-right"></i>
    <%#= "#{child.title}-#{child.id}" %>
    <%= child.title %>
  <% end %>
</li>
<% if @page.self_and_ancestors.include?(child) %>
  <ul>
    <% child.children.order(:order).each do |child_2| %>
      <%= render 'layouts/public/page_layout/left_sidebar/print_children', child: child_2 %>
    <% end %>
  </ul>
<% end %>