<div class="col-md-3 col-sm-3 sidebar2">

  <% title = "contact_us:Unsere Kontakte" %>
  <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>

  <% title = "contact_us:social_icons" %>
  <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>

  <% title = "contact_us:Über Uns" %>
  <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>
 
</div>