<div id="contact_popup">
  <p class="btn-holder">
    <a href="#" class="opener">Contact </a>
  </p>
  <div class="contact_content">
    <div class="col-md-12">
      <p class="bodytext">Rückruf-Service<br><span style="font-weight: bold;">JETZT BERATEN LASSEN!</span>
      </p>
      <p class="bodytext">OPC<br>+49 (0) 651 / 84 08 - 0</p>
      <em>
        <form action="#" role="form">
          <div class="form-group">
            <input type="text" class="form-control" id="contacts-name" placeholder="Ihr Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="contacts-email" placeholder="Ihre E-Mail-Adresse">
          </div>

          <div class="form-group">
            <input type="tel" class="form-control" id="tel" placeholder="Ihre Telefonnummer">
          </div>

          <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Absenden</button>
        </form>
      </em>
    </div>
  </div>
</div>