<%= render 'layouts/public/footer/first_footer' %>
<%= render 'layouts/public/footer/second_footer' %>
<%= javascript_include_tag 'application' %>

<span id="my_overlay" class="my_overlay" style="top: 109px; opacity: 1;"></span>
<%= render 'shared/sign_in_modal' %>                                    

</body>
</html>