<div id="pages">
  <div class="ecommerce">
    <div class="main">
      <div class="container">
        <%= render 'layouts/public/page_layout/left_sidebar' %>
        <%= render 'layouts/public/page_layout/content' %>
      </div>
    </div>
  </div>
</div>