<div class="col-md-3 col-sm-3 sidebar2">
  <h2>Unsere Kontaktdaten</h2>
  <address>
    <strong>OPC<sup>®</sup> cardsystems GmbH</strong><br>
    Diedenhofener Str. 22<br>
    D-54294 Trier<br>
    <abbr title="Phone">Tel:</abbr>  +49 (0) 651-8408-0<br>
    <abbr title="Phone">Fax:</abbr>  +49 (0) 651-8408-150
  </address>
  <address>
    <strong>Email</strong><br>
    <a href="mailto:info@opc.de">info@opc.de</a><br>
    <a href="mailto:support@opc.de">support@opc.de</a>
  </address>
  <ul class="social-icons margin-bottom-40">
    <li><a href="#" data-original-title="facebook" class="facebook"></a></li>
    <li><a href="#" data-original-title="twitter" class="twitter"></a></li>
    <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
    <li><a href="#" data-original-title="linkedin" class="linkedin"></a></li>
  </ul>

  <h2 class="padding-top-30">Über Uns</h2>
  <p style="text-align: justify">Die Struktur des Vertriebsnetzes ermöglicht OPC<sup>®</sup> die Nähe zu ihren Märkten und Kunden. Der enge, permanente Dialog mit den Kunden gibt OPC<sup>®</sup> wertvolle Impulse für die kontinuierliche Weiterentwicklung der Produkte sowie Hinweise für neue zukunftweisende Produktlösungen, die der Markt wünscht.</p>
<!--   <ul class="list-unstyled">
    <li><i class="fa fa-check"></i> </li>
    <li><i class="fa fa-check"></i>  </li>
    <li><i class="fa fa-check"></i> </li>
  </ul>      -->   
</div>