<div class="pre-footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-4 col-sm-6 pre-footer-col">
      <% title = "footer-left-ueber-uns" %>
      <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>

<!-- 
        <div class="photo-stream">
          <h2>Photos Stream</h2>
          <ul class="list-unstyled">
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/people/img5-small.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img1.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/people/img4-large.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img6.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img3.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/people/img2-large.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img2.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img5.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/people/img5-small.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img1.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/people/img4-large.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img6.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img3.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/people/img2-large.jpg"></a></li>
            <li><a href="#"><img alt="" src="../../assets/frontend/pages/img/works/img2.jpg"></a></li>
          </ul>                    
        </div> 
-->
      </div>

      <div class="col-md-4 col-sm-6 pre-footer-col">
        <% title = "footer-kontakt" %>
        <%= render 'blocks/show', block: Block.find_by(title: title), title: title %>
      </div>

      <div class="col-md-4 col-sm-6 pre-footer-col">
        <h2 class="margin-bottom-0">Latest News</h2>
        <hr>        
        <% Blog.footer_last_blogs.each_with_index do |blog, index| %>
          <%= render 'layouts/public/footer/last_news', blog: blog %>     
          <% unless Blog.footer_last_blogs.last == blog %>
            <hr>     
          <% end %>     
        <% end %>
      </div>
    </div>
  </div>
</div>