    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
            2014 © <%= Time.now.year %> OPC®. Alle Rechte vorbehalten. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6">
            <ul class="list-inline pull-right">
              <li>
                <%= link_to t(".Anmelden"), "#", class: "menu", data: {toggle: "modal", target: "#log-in-modal"} %>
                <%= render 'shared/sign_in_modal' %>
              </li>
              <li><a href="#" class="menu">Sitemap</a></li>
              <li><a href="#" class="menu">Nutzungsbedingungen</a></li>
              <li><a href="#" class="menu">Impressum</a></li>
            </ul>  
          </div>
        </div>
      </div>
    </div>