<% pages = @page.self_and_ancestors.reverse %>
<ul class="breadcrumb">
  <% pages.each do |page| %>
    <li class=<%= "active" if pages.last == page %>>
      <%= link_to page.title, page_path("#{page.id}-#{page.title}") %>
     </li>
  <% end %>
</ul>
