<div id="my_sidebar" class="sidebar col-md-3 col-sm-5">
  <ul class="sidebar-menu">
    <% Page.sidebar(Page.root).each do |child| %>
      <%= render 'layouts/public/page_layout/left_sidebar/print_children', child: child %>
    <% end %>
  </ul>
</div>
