.site-logo {
  padding-top: 13px;
  padding-bottom: 0px;
  img{
    height: 66px;
  }
}

.backend_link_bar{
  background: rgb(0, 55, 92);
   a {
    color: #FFFFFF;
    font-weight: bold;
    &:hover {
      color: #ddd;
    }
  }
}