.site-logo {
padding-top: 15px;
padding-bottom: 0px;
width: 114px;
  img{
  }
}

.backend_link_bar{
  background: rgb(0, 55, 92);
   a {
    color: #FFFFFF;
    font-weight: bold;
    &:hover {
      color: #ddd;
    }
  }
}