#pre_header{
border-bottom: 1px solid #eee;
padding-top: 5px;
line-height: 1.3;
font-weight: 100;
height: 29px;  
  #social{
    .fa{
      border: 1px solid #aaa;
      border-radius: 75px;
      padding: 2px 3px;
      width: 21px;
    }
  }
}

#home_index{
  #losungen_boxes{
    .losungen_pictogram{
      display: inline-block;
      height: 50px;
      width: 50px;
      background: url(https://s3-eu-west-1.amazonaws.com/opcde/assets/loesungen_icons/icons_gray.png);
    }
    .disco{
      background-position-x: -71px;
      background-position-y: -10px;
    }
    .kitas{
      background-position-x: -170px;
      background-position-y: -10px;
    }
    .mensa{
      background-position-x: -256px;
      background-position-y: -12px;
    }
    .reha{
      background-position-x: -356px;
      background-position-y: -10px;
    }
    .restaurant{
      background-position-x: -71px;
      background-position-y: -92px;
    }
    .hotel{
      background-position-x: 300px;
      background-position-y: -92px;
    }
    .bowling{
      background-position-x: -264px;
      background-position-y: -92px;
    }
    .arenen{
      background-position-x: -356px;
      background-position-y: -92px;
    }
    h2 {
    font-size: 18px;
    }
    [class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
      font-family: Fontsaddict;
      font-size: 41px;
      font-style: normal;
      margin-left: 20px;
    }
  }

  .owl-controls {
    position: absolute !important;
    left: 53.8% !important;
  }
}


