#pre_header{
border-bottom: 1px solid #eee;
padding-top: 5px;
line-height: 1.3;
font-weight: 100;
height: 29px;  
  #social{
    .fa{
      border: 1px solid #aaa;
      border-radius: 75px;
      padding: 2px 3px;
      width: 21px;
    }
  }
}

#home_index{
  #losungen_boxes{
    h2 {
    font-size: 18px;
    }
    [class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
      font-family: Fontsaddict;
      font-size: 41px;
      font-style: normal;
      margin-left: 20px;
    }
  }

  .owl-controls {
    position: absolute !important;
    left: 53.8% !important;
  }
}


