.my_overlay {
  display: none;
  z-index: 98;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -1900px;
  width: 100%;
  background: rgba(170,170,170,0.37);
}

.modal-backdrop {
  z-index: -1;
}

#kartentechnologien{
  .dropdown-menu{
    a:hover{
      background: #e6400c;
      color: #fff;
    }
  }
}

#pagination_p{
  text-align: center;
}

.padding_left_20{  padding-left: 20px; }
.padding_right_20{  padding-right: 20px; }
.padding_top_20{  padding-top: 20px; }
.padding_bottom_20{  padding-bottom: 20px; }

.padding_left_10{  padding-left: 10px; }
.padding_right_10{  padding-right: 10px; }
.padding_top_10{  padding-top: 10px; }
.padding_bottom_10{  padding-bottom: 10px; }

.margin_left_20{  margin-left: 20px; }
.margin_right_20{  margin-right: 20px; }
.margin_top_20{  margin-top: 20px; }
.margin_bottom_20{  margin-bottom: 20px; }

.margin_left_10{  margin-left: 10px; }
.margin_right_10{  margin-right: 10px; }
.margin_top_10{  margin-top: 10px; }
.margin_bottom_10{  margin-bottom: 10px; }