#navbar{
  font-size: 14px;
  .dropdown-megamenu{
    .brands{
      width: 16%;
      float: left;
      display: inline-block;
      padding: 1px;
      a{
        padding: 0;
        img{
          width: 100%;
        }
      }
    }
  }
  #Loesungen{
    .header-navigation-content{
      .menu-list{
        h4 {
          font: bold 14px 'Open Sans', Arial, sans-serif !important;
        }
        li a:hover{
          background: #e6400c;
          color: #fff;
        }      
        .category-header{
          color: #4D4D4D;
        }
      }
      .brand{
        display: inline-block;
        width: 12.225%;
        a{
          padding: 1px !important;
        }
      }
    } 
  }
}