#navbar{
  .dropdown-megamenu{
    .brands{
      width: 16%;
      float: left;
      display: inline-block;
      padding: 1px;
      a{
        padding: 0;
        img{
          width: 100%;
        }
      }
    }
  }
  #kartentechnologien{
    .product-item{
      a{
        font-size: 14px;        
      }      
    }
  }
}