.product-page{
  padding-right: 0;
}

@media (max-width: 400px) {
  #page_show{
    .page-body{
      .table-responsive {
        font-size: 10px;
        tbody tr td:first-child {
          padding-right: 0;
          width: 10px;
        }
      }
    }
  }
}

#page_show{
  .seo_title{
    position: absolute;
    z-index: -1111;
    right: 100000px;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
    text-transform: none;
  }
  #top_image, .title-wrapper {
    // min-height: 230px;
    padding-top: 27px;
    background-repeat: inherit;
    img{
      width: 100%;
    }
  }
  .panel-heading{
    .panel-title{
      span{
        font-weight: normal;
        font-size: 17px;
      }

    }
  }
  .panel .panel-body {
    font-size: 14px;
  }


}


  #my_sidebar{
    .menus{
      img{
        height: 24px;
        padding-right: 5px;
      }
    }
  }