.product-page{
  padding-right: 0;
}

#page_show{
  h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
    text-transform: none;
  }
  #top_image, .title-wrapper {
    min-height: 230px;
    padding-top: 27px;
    background-repeat: inherit;
  }

  .panel .panel-body {
    font-size: 14px;
  }
}


  #my_sidebar{
    img{
      height: 24px;
      padding-right: 5px;
    }
  }