.product-page{
  padding-right: 0;
}

#page_show{
  h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
    text-transform: none;
  }
  #top_image, .title-wrapper {
    min-height: 200px;
    padding-top: 27px;
    background-repeat: inherit;
  }
}


