<div id="top_image" class="title-wrapper", style="background-image: url('<%= @page.photo.url(:top_image) %>');">
  <div class="container"><div class="container-inner">
    <h1><span>OPC </span> One Point Cash System</h1>
    <em>Lösungen für Discos & Clubs mit über 1.800 Systeminstallationen in Deutschland</em>
  </div></div>
</div>