<!-- <div id="top_image" class="title-wrapper", style="background-image: url('<%#= @page.photo_of_self_or_parent %>');">

</div>

 -->

<div id="top_image" class="title-wrapper">
  <%= image_tag @page.photo_of_self_or_parent, class: "img-responsive" %> 
</div>

