<%= render 'layouts/public/head' %>
<%= render 'layouts/public/header' %>
<%#= render 'layouts/public/main_slideshow.html' if slide_show_visible? %>

<%= render "layouts/public/#{layout_selector}" %>

<%= render 'layouts/public/footer' %>

<span id="overlay" class="overlay" style="top: 109px; opacity: 1;"></span>